.git
.github
.idea
.vscode
.env
.env.*
node_modules
vendor
public/build
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache/*.php
tests
docs
railway.toml
README.md
